body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 5px;
    width: 70%;
    height: 40px;
    margin: 5px 0;
}
button{
    width: 30%;
    padding: 10px;
    margin: 5px 0;
}
#link-list{
    display: flex;
    flex-direction: column;
}
.link-content{
    padding: 4px;
    margin: 3px;
    border: 1px solid gray;
}
.link-content:hover{
    background-color: gray;
}
#link-generated{
    width: 50%;
    height: fit-content;
    overflow-wrap: break-word;
}
#link-generated:hover{
    background-color: gray;
}